body {
    background-color: #f6e9e4;
    overflow: hidden;
}

h1 {
    position: fixed;
    width: 50px;
    margin-top: 51px;
    margin-left: 60px;

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;

    display: flex;
    align-items: center;

    color: #915f54
}

.reset {
    position: fixed;
    margin-top: 51px;
    right: 60px;

    height: 50.5px;
    width: 129.5px;

    background: #915f54;
    border-radius: 12px;
    border: none;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

.tag:hover {
    cursor: pointer;
}

h1:hover {
    cursor: pointer;
}

h2 {
    margin-top: 45px;
    font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 54px;

    display: flex;
    justify-content: center;
    text-align: center;

    color: #915f54;
}

/* .text h3 {
    margin-top: 45px;
    font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 40px;

    display: flex;
    justify-content: center;
    text-align: center;

    color: #4e070c;
}

.text h4 {
    margin-top: 45px;
    font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 34px;

    display: flex;
    justify-content: center;
    text-align: center;

    color: #4e070c;
} */

.fa-circle-info {
    font-size: 20px;
    text-shadow: none;
    margin-left: 10px;
    margin-top: 10px;
    color: #65664e;
}

.locationChosen,
.locationEditing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#editLocation:hover {
    cursor: pointer;
}

.location-box {
    width: 717px;
    height: 88px;
    margin-right: 20px;
    float: left;

    justify-content: center;

    background: #E4AF71;
    border-radius: 20px;
    display: flex;

}

.location-box-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    justify-content: center;

    display: flex;

    text-align: center;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.location-icon {
    height: 88px;
    width: 88px;

    background: rgba(231, 181, 64, 0.6);
    border-radius: 20px;
    border: none;
}

.location-icon h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #F3F3F3;
}

#location-input {
    justify-content: center;
    height: 50px;
    width: 95%;
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #E4AF71
}

input[type="text"],
textarea {
    caret-color: white;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 600;
    justify-content: center;
}


#submitLocations,
#submitTags {
    width: 259px;
    height: 101px;
    margin-top: 275px;
    margin-bottom: 200px;

    background-color: #48A369;
    opacity: 0.8;
    border: none;
    border-radius: 20px;
}

#submitRanges {
    width: 259px;
    height: 101px;
    margin-top: 75px;

    background-color: #48A369;
    opacity: 0.8;
    border: none;
    border-radius: 20px;
}

#submitLocations {
    margin-top: 205px !important;
}

#submitTags {
    margin-top: 30px;
}

#submitTags:hover {
    cursor: pointer;
}


#submitLocations h3,
#submitTags h3,
#submitRanges h3 {
    color: white;
}

#submitLocations:hover {
    cursor: pointer;
}

.choose-location,
.choose-tags,
.review-restaurants,
.return-restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 50 px;
}

.choose-tags {
    margin-bottom: -1000px;
}

.tags-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-box {
    width: 777px;

    background: #E5CAAA;
    border-radius: 30px;

    padding: 42.6px 42.6px 39.6px 39.6px;

}

.review-boxes {
    margin: 5px;
    padding: 20px;
    background-color: rgb(224, 217, 214);
    width: 70%;
    height: 70%;
    overflow: auto;
    text-align: justify;
    border-radius: 30px;
}

#tags-checker {
    width: 775px;
    height: 280px;
    white-space: nowrap;
    overflow: auto;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

/* input[type=checkbox]+label {
    margin: 6px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #D1593D;
    border-radius: 20px;
    float: left;
    justify-content: center;
}

input[type=checkbox]:checked+label {
    background-color: #67AB76;
} */

.tag-style {
    margin: 6px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    float: left;
    justify-content: center;
}

.tag-state-0 {
    background-color: #999797;
}

.tag-state-1 {
    background-color: #67AB76;
}

.tag label {
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.tag {
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

input[type=checkbox]+label:hover {
    cursor: pointer;
}

#outputBox {
    width: 862.2px;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.review-box {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background: #E5CAAA;
    border-radius: 30px;

    padding: 42.6px 42.6px 39.6px 39.6px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.review-box-text {
    margin-top: 20px;
    font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 40px;

    display: flex;
    justify-content: center;
    text-align: center;

    color: #915f54;
}



.output-restaurant {
    width: 380px;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    float: left;
    text-decoration: none;
    justify-content: center;
    background: #E4AF71;
    border-radius: 10px;
    display: flex;

    font-family: 'Oleo Script';
    font-weight: 700;
    font-size: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.output-loc:hover {
    cursor: pointer;
    background-color: #D3924D;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-left: 5px;
}

#outputBox i {
    margin-top: -100px;
}

.feedback {
    margin-top: -10px;
    color: #D1593D;
    font-size: 20px;
    font-family: 'Roboto';
}

.tooltip {
    position: relative;
    display: inline-block;
    align-self: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #D3924D;
    color: #fff;
    padding: 10px;
    border-radius: 6px;

    margin-top: -35px;
    margin-left: 15px;
    position: absolute;
    z-index: 1;

    font-size: 12px;
    font-family: 'Roboto';
    line-height: normal;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;

    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #D3924D transparent transparent;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    align-self: center;
    color: #C9290E;
}

/* Tooltip text */
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: #D3924D;
    color: #fff;
    padding: 10px;
    border-radius: 6px;

    margin-top: -40px;
    margin-left: 15px;
    position: absolute;
    z-index: 1;

    font-size: 12px;
    font-family: 'Roboto';
    line-height: normal;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.tooltip2 .tooltiptext2::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;

    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #D3924D transparent transparent;
}

/* reference https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: white;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #915f54;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

/* end https://www.w3schools.com/howto/howto_js_rangeslider.asp */