body {
  background-color: #fdd2a3;
  overflow: hidden;
}

.title {
  font-size: 24px;
  color: #fd9000;
  margin-top: 36px;
  margin-left: 36px;
}

.choose-location,
.choose-tags,
.review-restaurants,
.return-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 50 px;
}

.instruction {
  display: flex;
  flex-direction: row;
  width: 406px;
  justify-content: space-between;
}

.locationChosen,
.locationEditing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.location-box {
  width: 717px;
  height: 88px;
  margin-right: 20px;
  float: left;

  justify-content: center;

  border: 2px solid #5a7c7d;
  border-radius: 12px;
  display: flex;
}

.location-box-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  justify-content: center;

  display: flex;

  text-align: center;
  align-items: center;

  color: #fd9000;
}

#location-input {
  justify-content: center;
  height: 50px;
  width: 95%;
  font-size: 40px;
  margin-top: 15px;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #fdd2a3;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  width: 432px;
  justify-content: space-between;
}

.reset {
  /* position: fixed; */

  background: #fd5f31;
  border-radius: 50px;
  border: none;
  padding: 12px 40px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}

#submitLocations,
#submitTags {
  background-color: #5a7c7d;
  border-radius: 50px;
  border: none;
  padding: 12px 40px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}

#submitLocations h3,
#submitTags h3,
#submitRanges h3 {
  color: white;
}

#submitLocations:hover {
  cursor: pointer;
}

.details {
  z-index: -1;
  position: absolute;
  margin-bottom: 200px;
  width: 425px;
  margin-right: 10px;
}

.graphics {
  z-index: -1;
  margin-top: 400px;
  position: fixed;
  width: 1435px;
}
/* end of first window */

.instruction2 {
  display: flex;
  flex-direction: row;
  width: 505px;
  justify-content: space-between;
}

.tags-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-tags {
  margin-bottom: -1000px;
}

.tag-box {
  width: 1040px;
  background-color: #fdd2a3;
  border: 2px solid #5a7c7d;
  border-radius: 12px;
  padding: 16px 16px;
}

#tags-checker {
  width: 1040px;
  white-space: nowrap;
  overflow: auto;
}

.tag:hover {
  cursor: pointer;
}

.tag-style {
  margin: 16px;
  padding: 10px 40px;
  border: 1px solid #fd9000;
  border-radius: 50px;
  float: left;
  justify-content: center;
}

.tag-state-0 {
  background-color: #fdd2a3;
}

.tag-state-1 {
  background-color: #fd9000;
  color: white;
}

.tag label {
  font-family: "Roboto";

  font-weight: 700;
  font-size: 24px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #fd9000;
}

.tag {
  font-family: "Roboto";

  font-weight: 700;
  font-size: 21px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.tooltip {
  position: relative;
  display: inline-block;
  align-self: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fd9000;
  color: #fff;
  padding: 10px;
  border-radius: 6px;

  margin-top: -35px;
  margin-left: 15px;
  position: absolute;
  z-index: 1;

  font-size: 12px;
  font-family: "Roboto";
  line-height: normal;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;

  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #d3924d transparent transparent;
}

#submitTags:hover {
  cursor: pointer;
}

.details2 {
  z-index: -1;
  position: absolute;
  margin-bottom: 380px;
  width: 505px;
  margin-right: 50px;
}

/* end of second window */

h1 {
  position: fixed;
  margin-top: 51px;
  margin-left: 60px;

  font-family: "Roboto";
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;

  display: flex;
  align-items: center;

  color: #915f54;
}

button:hover {
  cursor: pointer;
}

h1:hover {
  cursor: pointer;
}

h2 {
  margin-top: 45px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 32px;

  display: flex;
  justify-content: center;
  text-align: center;

  color: #5a7c7d;
}

.fa-circle-info {
  font-size: 20px;
  text-shadow: none;
  margin-left: 10px;
  margin-top: 10px;
  color: #65664e;
}

#editLocation:hover {
  cursor: pointer;
}

.location-icon {
  height: 88px;
  width: 88px;

  background: rgba(231, 181, 64, 0.6);
  border-radius: 20px;
  border: none;
}

.location-icon h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #f3f3f3;
}

input[type="text"],
textarea {
  caret-color: #fd9000;
  color: #fd9000;
  font-family: "Roboto";
  font-weight: 600;
  justify-content: center;
}

#submitRanges {
  width: 259px;
  height: 101px;
  margin-top: 75px;

  background-color: #48a369;
  opacity: 0.8;
  border: none;
  border-radius: 20px;
}

.review-boxes {
  margin: 5px;
  padding: 20px;
  background-color: rgb(224, 217, 214);
  width: 70%;
  height: 70%;
  overflow-y: scroll;
  text-align: justify;
  border-radius: 30px;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

input[type="checkbox"] + label:hover {
  cursor: pointer;
}

#outputBox {
  width: 862.2px;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.review-box {
  width: 500px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: #e5caaa;
  border-radius: 30px;

  padding: 42.6px 42.6px 39.6px 39.6px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.review-box-text {
  margin-top: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;

  display: flex;
  justify-content: center;
  text-align: center;

  color: #915f54;
}

.output-restaurant {
  width: 380px;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  float: left;
  text-decoration: none;
  justify-content: center;
  background: #e4af71;
  border-radius: 10px;
  display: flex;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.output-loc:hover {
  cursor: pointer;
  background-color: #d3924d;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
  margin-left: 5px;
}

#outputBox i {
  margin-top: -100px;
}

.feedback {
  margin-top: 155px;
  color: #d1593d;
  font-size: 20px;
  font-family: "Roboto";
  z-index: -1;
  position: absolute;
}

.feedback2 {
  margin-top: 375px;
  color: #d1593d;
  font-size: 20px;
  font-family: "Roboto";
  z-index: -1;
  position: absolute;
}

.tooltip2 {
  position: relative;
  display: inline-block;
  align-self: center;
  color: #c9290e;
}

/* Tooltip text */
.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 120px;
  background-color: #d3924d;
  color: #fff;
  padding: 10px;
  border-radius: 6px;

  margin-top: -40px;
  margin-left: 15px;
  position: absolute;
  z-index: 1;

  font-size: 12px;
  font-family: "Roboto";
  line-height: normal;
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}

.tooltip2 .tooltiptext2::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;

  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #d3924d transparent transparent;
}

/* reference https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: white;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #915f54;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04aa6d;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/* end https://www.w3schools.com/howto/howto_js_rangeslider.asp */
