<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="google-colors">
        <h2 id="google-4">Yelp&nbsp;</h2>
        <h2>Me Find a Restaurant!</h2>
      </div>
      <div class="input-box" onclick="sendFocusToReview()">
        <input
          placeholder="Input a review for a restaurant"
          id="user-review-val"
        />
      </div>
      <div class="input-box" onclick="sendFocusToRating()">
        <input placeholder="Input a star rating (out of 5)" id="user-rating-val" />
      </div>
      <div class="input-box" onclick="sendFocusToZipCode()">
        <input placeholder="Input a zip code" id="user-zip-code-val"/>
      </div>
      <div style="margin-top: 20px;"">
        <button type="button" onclick="search()">
          Find Similar Restaurants
        </button>
      </div>
    </div>
    <div id="answer-box"></div>
  </div>

  <script>
    function answerBoxTemplate(restaurant) {
      return `<div class=''>
                <h3 class='episode-title'>${restaurant}</h3>
            </div>`;
    }

    function sendFocusToReview() {
      document.getElementById("user-review-val").focus();
    }
    function sendFocusToRating() {
      document.getElementById("user-rating-val").focus();
    }
    function sendFocusToZipCode() {
      document.getElementById("user-zip-code-val").focus();
    }
    function search() {
      console.log(document.getElementById("user-review-val").value);
      console.log(document.getElementById("user-rating-val").value);
      document.getElementById("answer-box").innerHTML = "";
      fetch(
        "/restaurants?" +
          new URLSearchParams({
            review: document.getElementById("user-review-val").value,
            starRating: document.getElementById("user-rating-val").value,
            zipCode: document.getElementById("user-zip-code-val").value
          }).toString()
      ).then((response) => response.json())
        .then((data) =>{
        console.log(data);
          data.forEach((restaurant) => {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = answerBoxTemplate(
              restaurant
            );
            document.getElementById("answer-box").appendChild(tempDiv);
          })}
        );
    }

    // function filterText() {
    //   document.getElementById("answer-box").innerHTML = "";
    //   console.log(document.getElementById("user-review-val").value);
    //   fetch(
    //     "/episodes?" +
    //       new URLSearchParams({
    //         title: document.getElementById("user-review-val").value,
    //       }).toString()
    //   )
    //     .then((response) => response.json())
    //     .then((data) =>
    //       data.forEach((row) => {
    //         let tempDiv = document.createElement("div");
    //         tempDiv.innerHTML = answerBoxTemplate(
    //           row.title,
    //         );
    //         document.getElementById("answer-box").appendChild(tempDiv);
    //       })
    //     );
    // }
  </script>
</body>
